body {
  margin: 0;
}

header {
  background: #e3e3e3;
}

.header {
  display: flex;
  margin: 0 0;
  align-items: center;
  justify-content: space-between;
}

header .title {
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

header p {
  font-size: 18px;
  margin: 0 12px;
  margin-bottom: 2px;
}

header .icon ul {
  list-style: none;
  margin-right: 12px;
  display: flex;
}

header .icon ul li {
  background: white;
  width: 40px;
  height: 40px;
  font-size: 28px;
  font-weight: bold;
  margin: 8px;
  text-align: center;
  border-radius: 50%;
}

.contentsbar {
  display: inline;
}

.content {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 0;
  padding: 0;
}

.content li {
  padding: 0 20px;
}

.content a {
  text-decoration: none;
}

.photo {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

hr {
  border: none;
}

.information h1 {
  text-align: center;
  font: 18px border;
}

.plofile h1 {
  text-align: center;
  font: 18px border;
}

.media h1 {
  text-align: center;
  font: 18px border;
}

.menu-icon {
  display: none;
}

@media (max-width: 600px){

  header .title {
    display: block;
  }

  .icon{
    display: none;
  }

  .menu-icon {
    display: inline;
    margin: 2rem;
    font-size: 28px;
  }

  .contentsbar {
    display: none;
  }

  .content {
    justify-content: space-between;
  }

  .content li {
    padding: 0 1rem 0;
  }
}