body {
  margin: 0;
}

header {
  background: #e3e3e3;
  height: 7rem;
  width: 100vw;
  position: fixed;
}

.header {
  display: flex;
  margin: 0 0;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

header .title {
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

header p {
  font-size: 18px;
  margin: 0 12px;
  margin-bottom: 2px;
}

header .icon ul {
  list-style: none;
  margin-right: 12px;
  display: flex;
}

header .icon ul li {
  background: white;
  width: 40px;
  height: 40px;
  font-size: 28px;
  font-weight: bold;
  margin: 8px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.contentsbar {
  display: inline;
}

.content {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 0;
  padding: 0;
}

.content li {
  padding: 0 20px;
}

.content a {
  text-decoration: none;
}

.photo {
  margin-top: 7rem;
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

hr {
  border: none;
}

.information h1 {
  text-align: center;
  font: 18px border;
}

.plofile h1 {
  text-align: center;
  font: 18px border;
}

.media h1 {
  text-align: center;
  font: 18px border;
}

.fas.fa-bars {
  display: none;
}

.mobile-menu {
  display: none;
}

@media (max-width: 600px) {
  header {
    height: 4rem;
    position: fixed;
  }

  header .title {
    display: block;
  }
  
  .icon{
    display: none;
  }

  .fas.fa-bars {
    display: inline;
    margin: 2rem;
    font-size: 28px;
    cursor: pointer;
  }
  
  .contents-bar {
    display: none;
  }
  
  .content {
    justify-content: space-between;
  }

  .mobile-menu {
    display: none;
  }
  
  .mobile-menu.active {
    display: block;
    background-color: #222;
    color: #eee;
    text-align: center;
    opacity: 0.9;
    position: fixed;
    margin: 5rem 1rem 1rem;
    width: calc(100vw - 2rem);
    height: calc(100vh - 6rem);
  }

  .mobile-menu.active p {
    font-size: 24px;
  }

  .mobile-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .mobile-list a {
    font-size: 20px;
    line-height: 3em;
    color: #eee;
    text-decoration: none;
    padding: 10px;
    background-color:#111;
    border-radius: 6px;
    cursor: pointer;
  }

  .mobile-icon {
    list-style: none;
    margin: 3rem;
    padding: 0;
  }

  .mobile-icon li {
    display: inline;
    font-size: 3rem;
    padding: 1rem;
  }

  .photo {
    margin-top: 4rem;
  }
}